
@media (max-width:900px) {
    h1{
        font-size: 45px ;
    }

}

@media (max-width:685px) {
    body {
        width: 100%;
        height: 100vh;
        padding: 20px;
    }

    h1 {
        font-size: 35px;
    }

    .inputs {
        flex-direction: column;
    }

    .inputs input {
        width: 350px;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .inputs button {
        border: 2px solid #520b4a;
        padding: 5px 10px;
    }

    .outputs {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    th,
    td {
        padding: 20px;
        font-size: 20px;
    }

    #Delete,
    #Update {
        width: 80px;
        height: 30px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 400;
        border: 1px solid;
    }
    #done {
        width: 20px;
        height: 20px;
    }

}


@media (max-width:368px) {
    h1 {
        font-size: 20px !important;
    }

    .inputs input {
        width: 280px;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .inputs button {
        border: 2px solid #520b4a;
        font-size: 18px;
        padding: 5px 10px;
    }



}

@media (max-width:470px) {
    h1{
        font-size: 25px;
    }

    .outputs {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    th,
    td {
        padding: 5px;
        font-size: 15px;
    }

    #Delete,
    #Update {
        width: 50px;
        height: 20px;
        cursor: pointer;
        font-size: 10px;
        font-weight: 300;
        border: 1px solid;
    }
    #done {
        width: 15px;
        height: 15px;
    }
}
